@import "../../../../src/assets/variables.scss";

.numberDisplay-container {
display:flex;
padding: 10px;
box-sizing: border-box;
width: 25%
}

.numberDisplay-content {
  padding: 10px;
}

.numberDisplay-container:nth-child(1) {

  .numberDisplay-content {
    margin-left: -14px;
  }

}



@media only screen and (max-width: 900px) {
.numberDisplay-container {
    flex: 0 50%;
    justify-content: center;
}
}
