@import "../../../../src/assets/variables.scss";

.footer-container{
  padding: 32px 0 32px 0;
  background-color:$qwikiDarkBlue;
  position: absolute;
  bottom: 0;
  width: 100%;

  p {
    padding: 8px;
  }

  a {
    color: $qwikiGrey;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}



@media only screen and (max-width: 514px) {

.footer-container{
  padding: 9px 0 32px 0;
}

}
