@import "../../../../src/assets/variables.scss";

.tutorial-container{
    background-color: $qwikiVeryLightBlue;

  .tutorial-header{
    height: 280px;
    background: linear-gradient(
        to bottom,
        rgba(3, 93, 93, 0.75),
        rgba(3, 93, 93, 0.75)
      ),
      url("../../../../src/assets/images/screen10.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    .tutorial-header-container{
      padding: 20px;
      text-align: center;

      h2,
      p {
        padding: 10px;
        text-align: center;
      }
    }

  }

  .tutorial-content-container {
    background-color:$qwikiGreen;
    padding: 40px 28px 40px 28px;

    .tutorial-text {
      padding-top: 15px;
    }
    .tutorial-text-code-container {

      display: flex;
      flex-direction: column;

    }

    .tutorial-text-container {
      padding-top: 20px;
    }

    .tutorial-table-container, .adding-questions-page--sparql-results {
      padding-top: 15px;

      th, td {
        padding: 10px;
      }

    }

  }
}
