@import "../../../../src/assets/variables.scss";

.timeLineItem_container {
  padding: 10px 0px 10px 0px;
}
.timeLineItem_header {
  padding: 7px 0px 7px 0px;
}

.p_left {
  //padding-left: 35px;
}

.p_right{
  //padding-right: 35px;
}


.h_right {
  text-align: right;
}
