
.contact-page {
  background: #4a9595;

  .contact-page--container {
    margin: 1.2em 0;
    padding: 1.2em 1.2em;
    background: #fff;
    height: 66vh;
  }

  a {
    color: #024040;
  }

  p {
    margin: 0.6em 0;
  }

  strong {
    display: inline-block;
    padding-top: 0.6em;
  }

  .made-by-container {
    padding-top: 20px;
  }
}
