@import "../../../../src/assets/variables.scss";


.link {
  text-decoration: none;
}
.cardMember_container {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 225px;
  height: 285px;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;

  .double-underline-container{
    margin-top: -3px;
  }


  .cardMember_container_content {
    padding: 10px;
    opacity: 1;
    h2 {
      text-align: left;
    }

    p {
      display: block !important;
      padding: 2px 0px 0px 0px;
    }

    .double-underline-thick {
      align-self: flex-start;
      border-bottom: 3px solid $white;
      width: 190px;
    }

    .double-underline-thin {
      align-self: flex-start;
      border-bottom: 2px solid $white;
      width: 112px;
    }
  }
}

.mobile {
  .cardMember_container_content {
    opacity: 1;
  }
}
.browser:hover {

  .cardMember_container_content {
    opacity: 1;
  }
}
