@import "../../../../src/assets/variables.scss";


.about-us-container {



.history-container {
  background-color: $qwikiLightBlue;
}
}


.members-container {
  .members {
    padding: 15px;
  }
}

.timeline-master-container {
  display: flex;
flex-direction: column;

.timeline-first-container, .timeline-second-container {
  display: flex;
flex-direction: row;
}

.timeline-first-container {

  .timeline-img-container {
    display: flex;
    align-items: flex-end;
    flex: 1;
    justify-content: flex-end;
  }

}
}


.timeline-img {
  width: 100%;
}


.blubb {
  /*display: flex;
  flex-direction: column;
  align-items: flex-end;*/
}



.timeline-container {
  position: relative;
  flex: 1;
  //display: flex;
  //flex-direction: column;
  //align-items: flex-end;



.timeline-content-container {
padding: 10px 0px 10px 40px;
position: relative;
background-color: inherit;
width: 90%;
}

.timeline-content-container::after {
  content: '';
  position: absolute;
  width: 35px;
  height: 35px;
  right: -17px;
  background-color: $qwikiGreen;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.left::after {
  right: -32px;
}

.right {
  //left: 50%;
}

.right::after {
  left: -16px;
}

.timeline-content {
  position: relative;
  top: -9px;
  left: -14px;
}
}

.timeline-container:after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: $qwikiGreen;
  top: 0;
  bottom: 0;
  margin-left: -3px;
}


.timeline-second-container {

.timeline-img-container {
  .timeline-img-container {
    display: flex;
    align-items: flex-start;
    flex: 1;
    justify-content: flex-end;
  }
}
}
@media only screen and (max-width: 768px){

  .timeline-container {
    padding: 20px;


  }
  .timeline-first-container{
  flex-direction: column !important;
    .col-md-2 {
    flex-basis: 0 !important;
    flex: initial !important;
    }
  }
}
