@import "../../../../src/assets/variables.scss";

.about-us-container {
  .Q {
    font-size: 36px;
  }
  .members-title {
    text-align: center;
    padding: 30px 0px 30px 0px;
  }

  .col-md-2,  .col-md-8 {
    padding: 0;
  }
  .history-container {
    background-color: $qwikiLightBlue;

    .history-title {
      padding: 30px 5px 30px 5px;
    }

    .timeline-master-container {
      display: flex;
      flex-direction: column;

      .timeline-first-container,
      .timeline-second-container {
        display: flex;
        flex-direction: row;
      }

      .timeline-first-container{

        .timeline-img {
          width: 80%;
        }
      }

      .timeline-img {
        width: 100%;
      }

      .timeline-container {
        box-sizing: border-box;
        flex: 1;
      }

      .timeline-ruler {
        position: relative;
      }

      .timeline-ruler::after {
        content: "";
        position: absolute;
        width: 6px;
        background-color: $qwikiGreen;
        top: 0;
        bottom: 0;
        margin-left: -3px;
      }

      .timeline-content-container {
        padding: 3px 40px 20px 40px;
        position: relative;
        width: 85%;
      }

      .timeline-content-container::after {
        content: "";
        position: absolute;
        width: 25px;
        height: 25px;
        background-color: $qwikiGreen;
        border: 4px solid $qwikiGreen;
        top: 15px;
        border-radius: 50%;
        z-index: 1;
      }

      .left {
        left: -75px;
      }

      .right {
        left: 49%;
      }

      .right::after {
        left: -16px;
      }

      .timeline-content {
        position: relative;
      }

      .timeline-first-container {
        .timeline-img-container {
          display: flex;
          align-items: flex-end;
          flex: 1;
          justify-content: flex-end;
        }

        .timeline {
          position: relative;
          right: 48%;

          .timeline-ruler::after {
            left: 49%;
          }

          .timeline-content-container::after {
            right: 64px;
          }
        }
      }

      .timeline-second-container {
        margin-bottom: -4px;
        .timeline-img-container {
          display: flex;
          align-items: flex-start;
          flex: 1;
          justify-content: flex-end;
        }

        .timeline {
          position: relative;
          right: -13%;
          top: -4px;
          .timeline-ruler::after {
            left: 85%;
          }

          .timeline-content-container::after {
            right: -11px;
          }
        }
      }
    }
  }

  .members {
    padding: 6px;
  }

  .qwiki-team-container {
    .members-container,
    .supervisors-container {
      padding-bottom: 50px;
    }
    .wikidata-container,
    .htw-container {
      flex: 1;
      padding-top: 30px;
    }

    .project-supervisor-title {
      padding: 30px 0px 30px 0px;
      text-align: center;
    }

    .supervisors-container {
      display: flex;
      flex-direction: row;
    }
  }
}

@media only screen and (max-width: 964px) {
  .supervisors-container {
    flex-direction: column !important;
  }
}

@media only screen and (max-width: 768px) {
  .about-us-container {
    .col-md-2 {
      flex-basis: 0 !important;
      flex: initial !important;
    }

    .timeline-container {
      padding: 20px;
    }

    .timeline-ruler {
      width: 90%;
      left: 12%;
    }

    .history-container {
      .history-title{
        text-align: center;
      }
    }

    .timeline-first-container,
    .timeline-second-container {
      flex-direction: column !important;
      .timeline-img {
        width: 100% !important;
      }
    }

    .timeline-second-container {
      .timeline {
        right: 0 !important;
      }
    }
  }
}

@media only screen and (max-width: 473px) {

      .timeline-first-container {
        .timeline {
          right: 54% !important;
        }
    }
    .qwiki-team-container {
      .cardMember_container {
        width: 145px;
        height: 190px;

        .cardMember_container_content{
          padding: 5px;
          h2 {
            font-size: 16px;
          }

          p {
            padding: 0px;
          }
        }

        .double-underline-thick{
          width: 125px !important;
        }
      }
    }
}
