@import "../../../../src/assets/variables.scss";

.menuItem {
    color: $black;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 8px;
}

.menuItem:hover {
  color: $qwikiLightBlue;
}
