// Q-Wiki Color Pallet
$black: #000000;
$white: #FFFFFF;
$qwikiLightBlue: #509E9E;
$qwikiMiddleBlue: #91c2c2;
$qwikiDarkBlue: #024040;
$qwikiGreen: #E9EDDE;
$qwikiGreenDarker: #cfd7b9;
$qwikiOrange: #d88900;
$qwikiGrey: #ccc;
$qwikiDarkRed: #7D2F0E;
$qwikiDarkGray: #C7C7C7;
$qwikiFalseRed: #cd5c5c;
$qwikiCorrectGreen: #3cb371;


:export {
  black: $black;
  white: $white;
  qwikiLightBlue: $qwikiLightBlue;
  qwikiMiddleBlue: $qwikiMiddleBlue;
  qwikiDarkBlue: $qwikiDarkBlue;
  qwikiGreen: $qwikiGreen;
  qwikiGreenDarker: $qwikiGreenDarker;
  qwikiOrange: $qwikiOrange;
  qwikiGrey: $qwikiGrey;
  qwikiDarkRed: $qwikiDarkRed;
  qwikiDarkGray:$qwikiDarkGray;
}
