// Q-Wiki Color Pallet
$black: #000000;
$white: #FFFFFF;
$qwikiLightBlue: #509E9E;
$qwikiDarkBlue: #024040;
$qwikiGreen: #E9EDDE;
$qwikiOrange: #B79123;
$qwikiGrey: #ccc;
$qwikiDarkRed: #7D2F0E;


:export {
  black: $black;
  white: $white;
  qwikiLightBlue: $qwikiLightBlue;
  qwikiDarkBlue: $qwikiDarkBlue;
  qwikiGreen: $qwikiGreen;
  qwikiOrange: $qwikiOrange;
  qwikiGrey: $qwikiGrey;
  qwikiDarkRed: $qwikiDarkRed;
}
